// start bacground and color
$bg-light: white;
$color-black: #000;
$bg-eee: #eee;
$blue-color: #0075ff;
$blue-alt-color: #0d69d5;
$orange-color: #f59e0b;
$green-color: #22c55e;
$red-color: #f44336;
$grey-color: #888;
$grey2-color: #ededec;
$linkedin-color:#0A66C2;

.bg-eee {
    background-color: rgba(238, 238, 238, 0.838);
}
.bg-twitter{
    background-color: #1DA1F2;
}
.bg-twitter-O-3{
    background-color:rgba($color:  #1DA1F2, $alpha: 0.3);        
}
.bg-facebook-O-3{
    background-color:rgba($color: $blue-color, $alpha: 0.3);        
}
.bg-youtube-O-3{
    background-color:rgba($color: red, $alpha: 0.3);        
}
.c-linkedin {
    color: $linkedin-color;     
}
.bg-linkedin {
    background-color: $linkedin-color;     
}
.bg-linkedin-O-3{
    background-color:rgba($color: $linkedin-color, $alpha: 0.3);        
}
.c-eee {
    color: $bg-eee;
} 
.c-red{
    color: $red-color;
}
.c-r{
    color: red;
}
.bg-red{
    background-color: $red-color;
}
.bg-w {
    background-color: $bg-light;
}

.c-w {
    color: $bg-light;
}
.c-black {
    color: $color-black ;
}

.bg-black {
    background-color: $color-black ;
}
.c-orange{
    color: $orange-color;
}
.bg-orange{
    background-color: $orange-color;
}
.c-green{
    color: $green-color;
}
.bg-green{
    background-color: $green-color;
}
.c-gray {
    color: $grey-color;
}
.bg-gray2{
    background-color: $grey2-color;
}

.bg-blue {
    background-color: $blue-color;
}
.c-blue {
    color: $blue-color;
}

// End bacground and color

// dispaly
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.bg-r {
    background-color: red;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-between {
    justify-content: space-between;
}

.flex-row {
    
    flex-direction: row !important;
}

.flex-column {
    flex-direction: column;
}

.d-grid {
    display: grid;
}

.gap-20 {
    gap: 20px;
}

.d-block {
    display: block;
}

// Width
.w-full {
    width: 100%;
}

// margin
.m-0 {
    margin: 0;
}
.w-100{
    width: 100% !important;
}
.mt-5 {
    margin-top: 5px;
}
.mb-5{
    margin-bottom: 5px;
}
.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}
.mr-15 {
    margin-right: 15px;
}

.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}

.mx-10 {
    margin: 0 10px;
}

.my-10 {
    margin: 10px 0;
}

.m-20 {
    margin: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.ml-20 {
    margin-left: 20px;
}

.mx-20 {
    margin: 0 20px;
}

.my-20 {
    margin: 20px 0;
}

.mt-0 {
    margin-top: 0;
}
.mt-25{
    margin-top: 25px;
}
.mb-25{
    margin-bottom: 25px;
}
.ml-25{
    margin-left: 25px;
}
.mr-25{
    margin-right: 25px;
}
.m-25{
    margin: 25px;
}
// Padding
.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px 10px 10px 10px;
}
.pb-25{
    padding-bottom: 25px;
}
.p-15 {
    padding: 15px;
}
.pl-15 {
    padding-left: 15px;
}

.p-20 {
    padding: 20px;
}

.pt-20 {
    padding-top: 20px;
}
.pt-10{
    padding-top: 10px;
}
.pt-12{
    padding-top: 12px;
}
.pt-15{
    padding-top: 15px;
}
.pb-10{
    padding-bottom: 10px;
}
.pb-20 {
    padding-bottom: 20px;
}

.pr-20 {
    padding-right: 20px;
}

.pl-20 {
    padding-left: 20px;
}

.px-20 {
    padding: 0 20px;
}

.py-20 {
    padding: 20px 0;
}




// postion
.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.flex-1 {
    flex: 1;
}

/* text */
.txt-c {
    text-align: center;
}

.w-fit {
    width: fit-content;
}
.fs-10{
    font-size: 10px;
}
.fs-12{

    font-size: 12px;
}
.fs-13{

    font-size: 13px;
}
.fs-14 {
    font-size: 14px;
}
.fs-15 {
    font-size: 15px;
}
.fs-25{
    font-size: 25px;
}
.fw-bold{
    font-weight: bold;
}
// ul
.list-none {
    list-style: none;
    list-style-type: none;
 
}

// Border

.red-5 {
    border-radius: 5px;
}
.red-6 {
    border-radius: 6px;
}
.red-7 {
    border-radius: 7px;
}
.red-8 {
    border-radius: 8px;
}
.red-10 {
    border-radius: 10px;
}
.red-15{
    border-radius: 15px;
}
.red-circle{
    border-radius: 50%;
}
.b-none{
    border: none;
}
.border-1{
    border: 1px solid #ddd;
}
//     box-shadow
.shadow-1{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.shadow-1-c-ddd{
    box-shadow: 0 0 5px #ddd;
}
h2{
    margin: 0;
    margin-top: -0.5rem !important;
    font-size: 1.2rem !important; 
}
.opacity-3  {
    opacity: 0.3;
}
.txt-deco {
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;
    user-select: none;
}
.pointer{
    cursor: pointer;
}
.not-allow{
    cursor: not-allowed;
}

/* Component*/

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.f-wrap{
    flex-wrap: wrap;
}
.btn{
    padding: 4px 10px ;
    border-radius: 6px;
    user-select: none;
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.19);
    }
}
@media screen and (max-width:767px) {
    .block-sm {
        display: block;
    }

    .sm-hide {
        display: none;
    }
}