* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #0075ff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #0d69d5;
}

.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}

/*start sideabre*/
.slider {
  padding: 20px 10px;
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.slider h3 {
  margin-bottom: 50px;
}
.slider h3::before {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 88px;
  height: 2px;
  transform: translateX(-50%);
  left: 50%;
  background-color: black;
}
.slider h3::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -29px;
  background-color: black;
  border: 4px solid white;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}
.slider ul li .active {
  background-color: #f6f6f6;
}
.slider ul li a {
  transition: 0.3s all;
  margin-bottom: 5px;
}
.slider ul li a:hover {
  background-color: #f6f6f6;
}
.slider ul li a span {
  font-size: 14px;
  margin-left: 10px;
}

@media screen and (max-width: 767px) {
  .slider {
    width: 62px;
    padding: 10px;
  }
  .slider h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .slider h3::before, .slider h3::after {
    display: none;
  }
  .slider span {
    display: none;
  }
}
.content {
  overflow: hidden;
}
.content .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.3rem;
  padding: 1rem;
  background-color: white;
}
.content .head .search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.content .head .search input {
  border-style: none;
  padding: 0.4rem 0rem 0.4rem 1.4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #f1f5f9;
  height: 2rem;
  width: 200px;
  transition-duration: 0.5s;
  box-shadow: 0 0 5px #f1f5f9;
}
.content .head .search input:focus {
  width: 500px;
  box-shadow: 0 0 10px #ddd;
  font-size: 14px;
  color: #888;
}
@media screen and (max-width: 767px) {
  .content .head .search input:focus {
    width: 200px;
  }
}
.content .head .search input:focus::-moz-placeholder {
  opacity: 0;
  padding-left: 40px;
}
.content .head .search input:focus:-ms-input-placeholder {
  opacity: 0;
  padding-left: 40px;
}
.content .head .search input:focus::placeholder {
  opacity: 0;
  padding-left: 40px;
}
.content .head .search .icon {
  position: absolute;
  left: 10%;
  margin-bottom: 6px;
}
.content .head .icons .notification {
  width: 17px !important;
  height: 20px !important;
  cursor: pointer;
}
.content .head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f44336;
  border-radius: 50%;
  right: -5px;
  top: -5px;
}
.content .head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}

.content h1 {
  margin: 20px 20px 20px 40px;
}
@media screen and (max-width: 767px) {
  .content h1 {
    margin: 20px 20px 20px 20px;
    font-size: 1.5rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
  }
}
.content h1::after, .content h1::before {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 0;
}
.content h1::before {
  background-color: white;
  width: 150px;
}
@media screen and (max-width: 767px) {
  .content h1::before {
    width: 100px;
  }
}
.content h1::after {
  background-color: black;
  width: 40px;
}

.wrapper {
  grid-template-columns: repeat(auto-fit, minmax(32%, 14.6rem));
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(100%, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper {
    grid-template-columns: minmax(100%, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
/**Start Welcome */
.welcome {
  overflow: hidden;
  position: relative;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 10px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
@media (max-width: 767px) {
  .welcome .avatar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}
.welcome .intro .img {
  width: 170px !important;
  margin-bottom: -10px;
}
.welcome .body {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
@media (max-width: 767px) {
  .welcome .body {
    flex-direction: column;
  }
  .welcome .body div {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-right: 100px;
  }
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s all;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  box-shadow: 10px 10px 50px #ddd;
}
.welcome .visit:hover {
  background-color: #0d69d5;
  box-shadow: 0 0 0px #ddd;
}

.welcome .body > div {
  flex: 1;
}

/**End Welcome */
@media (max-width: 767px) {
  .welcome .body > div {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column;
  }
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .avatar {
    margin-left: 0px;
  }
  .welcome .body > div:not(:last-child) {
    margin-bottom: 20px;
  }
}
/**quick-draf */
.quick-draft form input {
  border: 1px solid #eee;
  transition: 0.5s all;
}
.quick-draft form input:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
}
.quick-draft form textarea {
  border: 1px solid #eee;
  resize: none;
}
.quick-draft form textarea:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.089);
}
.quick-draft form .save {
  margin: 0 0 0 auto;
  transition: 0.3s all;
  border-style: none;
  border-radius: 0.3rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  box-shadow: 10px 10px 50px #ddd;
}
.quick-draft form .save:hover {
  background-color: #0d69d5;
  box-shadow: 0 0 0px #ddd;
}

/**Strat Yearly Targets */
.targets {
  padding-bottom: 0px !important;
}

.targets .target-row .icon {
  width: 70px;
  height: 60px;
  margin-right: 15px;
}

.targets .details {
  flex: 1;
}

.targets .details .progress {
  height: 4px;
}

.targets .details .progress > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

.targets .details .progress > span span {
  position: absolute;
  right: -16px;
  bottom: 16px;
  padding: 3px 5px;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 0 9px #ddd;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.targets .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 10x #ddd;
}

.targets .details .progress > .blue span::after {
  border-top-color: #0075ff;
}

.targets .details .progress > .orange span::after {
  border-top-color: #f59e0b;
}

.targets .details .progress > .green span::after {
  border-top-color: #22c55e;
}

.blue .icon,
.blue .progress {
  background-color: rgba(0, 117, 255, 0.2);
}

.orange .icon,
.orange .progress {
  background-color: rgba(245, 158, 11, 0.2);
}

.green .icon,
.green .progress {
  background-color: rgba(34, 197, 94, 0.2);
}

/**end Yearly Targets */
.tickets .box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: calc(50% - 10px);
  height: 130px !important;
}
@media (max-width: 767px) {
  .tickets .box {
    width: 100%;
  }
}
/**Start lastest-news */
.lastest-news {
  flex-direction: column;
}
.lastest-news .news-row:not(:last-of-type) {
  margin-bottom: 13.5px;
  border-bottom: 1px solid #eee;
  padding-bottom: 13.5px;
}
@media (max-width: 500px) {
  .lastest-news .news-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
}
.lastest-news .news-row img {
  width: 100px;
  border-radius: 6px;
  margin-right: 15px;
}
@media (max-width: 500px) {
  .lastest-news .news-row img {
    width: 150px;
  }
}
.lastest-news .news-row > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lastest-news .news-row .body {
  flex-direction: row;
  width: 100%;
}
@media (max-width: 500px) {
  .lastest-news .news-row .body {
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
}
.lastest-news .news-row .info h3 {
  width: 100%;
  margin-top: -5px !important;
  font-size: 0.8rem;
}
@media (max-width: 500px) {
  .lastest-news .news-row .info h3 {
    margin-top: 0px !important;
    width: 100% !important;
    text-align: center;
    font-size: 15px;
  }
}
.lastest-news .news-row .info p {
  margin-top: -0.1rem;
  font-size: 0.7rem;
}
@media (max-width: 500px) {
  .lastest-news .news-row .info p {
    margin-top: 0px !important;
    margin-bottom: 20px;
    width: 100% !important;
    text-align: center;
    font-size: 13px;
  }
}

.lastest-tasks .task-row:not(:last-of-type) {
  margin-bottom: 13.5px;
  border-bottom: 1px solid #eee;
  padding-bottom: 13.5px;
}

.item {
  display: flex;
  align-items: center;
  padding: 0rem 0.5rem;
  border-radius: 0.2rem;
  font-size: 0.65rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 1.3rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/**latest_uploads */
.latest_uploads .icon-section8 {
  width: 30px;
  height: 30px;
}
.latest_uploads .body {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.latest_uploads .body .info h3 {
  font-size: 0.8rem !important;
  font-weight: 600;
  margin-left: 20px;
  margin-bottom: 5px;
}
.latest_uploads .body .info p {
  font-size: 0.8rem !important;
  margin-left: 20px;
  margin-bottom: 5px;
}

.latest_uploads:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}

/**last-project */
.last-project {
  flex-direction: column;
}
.last-project ul {
  margin: 0;
  padding: 0;
}
.last-project ul::before {
  content: "";
  position: absolute;
  left: 11px;
  height: 100%;
  width: 2px;
  background-color: #0075ff;
}
.last-project ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  border: 2px solid white;
  outline: 2px solid #0075ff;
  margin-right: 15px;
  z-index: 1;
}
.last-project .launch-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 140px !important;
}

.last-project ul li.done::before {
  content: "";
  background-color: #0075ff;
}

.last-project ul li.current::before {
  content: "";
  -webkit-animation: change-color 0.8s infinite alternate;
          animation: change-color 0.8s infinite alternate;
}

/*# sourceMappingURL=master.css.map */
/**start reminder */
.reminder ul li .key {
  width: 15px;
  height: 15px;
}
.reminder ul li > .blue {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 2px solid #0075ff;
}
.reminder ul li > .orange {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 2px solid #f59e0b;
}
.reminder ul li > .green {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 2px solid #22c55e;
}
.reminder ul li > .red {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 2px solid #f44336;
}

/**End reminder */
/**start lasted-post */
.lasted-post .top {
  justify-content: start !important;
}
.lasted-post .avatar {
  width: 48px;
  height: 48px;
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 0 5px #ddd;
}
.lasted-post .post-content {
  text-transform: capitalize;
  line-height: 1.8;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  min-height: 135px;
}
.lasted-post .post-content p {
  font-size: 0.8rem;
  color: #888;
}
@media (max-width: 767px) {
  .lasted-post .header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }
  .lasted-post .header .info > span {
    display: block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 767px) and (max-width: 767px) {
  .lasted-post .header .info .h1 {
    margin-top: 15px;
  }
}

/**end lasted-post */
/**start lasted-social  */
.lasted-social {
  min-height: 330px !important;
}
.lasted-social .content .icon {
  color: white;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lasted-social .content .info {
  padding: 10px;
}
.lasted-social .content .info span {
  font-weight: 400;
  font-size: 14px;
}
.lasted-social .content .info .btn {
  color: white;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

/**End lasted-social  */
/***start project  */
.projects .responsive-table {
  overflow-x: auto;
}
.projects .responsive-table table {
  min-width: 1000px;
  border-spacing: 0;
  border-radius: 5px !important;
  overflow: hidden;
}
.projects .responsive-table table thead tr {
  background-color: #eee;
  font-weight: bold;
}
.projects .responsive-table table td {
  padding: 15px;
  transition: 0.3s all;
}
.projects .responsive-table table tbody td {
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}
.projects .responsive-table table tbody td:last-child {
  border-right: 1px solid #eee;
}
.projects .responsive-table table tbody tr:hover td {
  background-color: #faf7f7;
}
.projects .responsive-table table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.projects .responsive-table table img :not(:first-child) {
  margin-left: -20px;
}
.projects .responsive-table table img:not(:first-child) {
  margin-left: -20px;
}
.projects .responsive-table td {
  text-align: center !important;
}

/**End Project */
/**start animation  */
@-webkit-keyframes change-color {
  from {
    background-color: #0075ff;
  }
  to {
    background-color: white;
  }
}
@keyframes change-color {
  from {
    background-color: #0075ff;
  }
  to {
    background-color: white;
  }
}
/**end animation  */
/**Sitting Page */
.toggle-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
}

.toggle-switch {
  background-color: #ccc;
  border-radius: 16px;
  width: 78px;
  height: 32px;
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
}

.fa-xmark,
.fa-check {
  font-weight: 900;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: absolute;
  display: flex !important;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition: all 0.3s;
}

.fa-xmark {
  top: 4px;
  left: 4px;
}

.fa-check {
  top: 4px;
  left: 50px;
  display: none !important;
}

.toggle-checkbox:checked + .toggle-switch {
  background-color: #0075ff;
}
.toggle-checkbox:checked + .toggle-switch .fa-xmark {
  left: 50px !important;
  transition: all 0.3s;
  color: #0075ff !important;
}
.toggle-checkbox:checked + .toggle-switch .fa-check {
  left: 50px !important;
  transition: all 0.3s;
  color: #0075ff !important;
  display: flex !important;
}

.settings-page {
  grid-template-columns: repeat(3, 1fr);
}
.settings-page .close-mess {
  border: 1px solid #ccc;
  resize: none;
  min-height: 150px;
}

@media (max-width: 1200px) {
  .settings-page {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
@media (max-width: 951px) {
  .settings-page {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.label1 input {
  border: 1px solid #aaa;
  width: 100%;
  outline: none;
  transition: all 0.6s;
}
.label1 input:hover {
  box-shadow: 0 0 10px #ddd;
  border: #eee;
}
.label1 .email__input {
  cursor: no-drop;
  background-color: #eee;
}
.label1 .email__input:hover {
  box-shadow: 0 0 0 #888 !important;
}
.label1 .btn__email {
  background-color: transparent;
  padding: 15px;
  color: #0075ff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  cursor: pointer;
}
.label1 .btn__email:hover {
  background-color: rgba(0, 117, 255, 0.2);
  border-radius: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.password,
.device {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password .pass__left,
.device .pass__left {
  display: flex;
  flex-direction: column;
  gap: 5px !important;
}
.password .pass__left span,
.device .pass__left span {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.password .pass__left p,
.device .pass__left p {
  margin: 0;
  padding: 0;
  color: #888;
}
.password .pass__right .btn,
.device .pass__right .btn {
  outline: none;
  border: none;
  color: white;
  box-shadow: 0 0 10px #ddd;
}

.auth {
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
}
.auth .auth__left {
  display: flex;
  flex-direction: column;
  gap: 5px !important;
}
.auth .auth__left span {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
.auth .auth__left p {
  margin: 0;
  padding: 0;
  color: #888;
}
.device .pass__right .btn {
  color: black;
  box-shadow: none !important;
}
.device .pass__right .btn:hover {
  box-shadow: 0 0 10px #ddd;
}

.auth .auth__left {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.auth .auth__left p {
  font-size: 15px;
}

.search-items3 .body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-items3 .body > div:not(:last-child) {
  padding: 10px;
  border-bottom: 2px solid #eee;
}

.device,
.password {
  padding: 15px 0;
}

.password {
  padding-bottom: 20px !important;
  padding-top: 20px !important;
  padding-left: 0 !important;
}

.device {
  padding-left: px;
  padding-right: 10px;
}

.auth {
  padding: 0 !important;
  margin: 0;
}

.social__boxes .box i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-right: none;
  border-radius: 6px 0 0 6px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__boxes .box input {
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  padding-left: 10px;
  border-radius: 0 6px 6px 0;
}

.social__boxes > div:focus-within .fa-twitter {
  color: #0075ff;
}

.social__boxes > div:focus-within .fa-facebook {
  color: #0075ff;
}

.social__boxes > div:focus-within .fa-instagram {
  color: #f44336;
}

.social__boxes > div:focus-within .fa-youtube {
  color: red;
}

.widgets-control .control label {
  padding-left: 30px;
  cursor: pointer;
  position: relative;
}
.widgets-control .control label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 14px;
  height: 14px;
  border: 2px solid gray;
  border-radius: 3px;
  margin-top: -9px;
}

.widgets-control .control label:hover::before {
  border: 2px solid #0075ff;
}

.widgets-control .control {
  position: relative;
}
.widgets-control .control input[type=checkbox] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.widgets-control .control .check__icon {
  font-weight: 900;
  background-color: var(--blue-color);
  color: #0075ff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 19px;
  left: 8px;
  top: 50%;
  margin-top: -9px;
  transform: scale(0) rotate(360deg);
  transition: 0.3s;
}
.widgets-control .control input[type=checkbox]:checked ~ .check__icon {
  transform: scale(1);
}

.backup__Manager .control label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.backup__Manager .control label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -11px;
  width: 18px;
  height: 18px;
  border: 2px solid #888;
  border-radius: 50%;
}
.backup__Manager .control label::after {
  content: "";
  position: absolute;
  background-color: #0075ff;
  width: 11px;
  height: 11px;
  left: 5.5px;
  top: 5.5px;
  border-radius: 50%;
  transition: 0.3s;
  transform: scale(0);
}
.backup__Manager .control input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.backup__Manager .control input[type=radio]:checked + label::before {
  border-color: #0075ff;
}
.backup__Manager .control input[type=radio]:checked + label::after {
  transform: scale(1);
}
.backup__Manager .servers {
  border-top: 1px solid #EEE;
  padding-top: 20px;
  height: 50%;
}
.backup__Manager .servers .server {
  padding: 15px 0;
  border: 1px solid #ddd;
}
.backup__Manager .servers .server label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.backup__Manager .servers input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.backup__Manager .servers input[type=radio]:checked + .server {
  border-color: #0075ff;
  color: #0075ff;
}
@media (max-width: 767px) {
  .backup__Manager .servers {
    display: flex;
    flex-direction: column;
  }
}

/*
    page 3 Profile
*/
.profile-page {
  margin-top: 40px !important;
}
@media (max-width: 400px) {
  .profile-page .overview {
    overflow: hidden;
    width: 90%;
    flex-direction: column;
  }
}
.profile-page .overview .avatar_box {
  padding: 20px;
  text-align: center;
  width: 300px;
}
.profile-page .overview .avatar_box img {
  width: 120px;
  height: 120px;
}
@media (min-width: 768px) {
  .profile-page .overview .avatar_box {
    border-right: 1px solid #EEE;
  }
}
.profile-page .overview .level {
  height: 6px !important;
  overflow: hidden;
  width: 70%;
  margin-top: 10px !important;
  margin: auto;
}
.profile-page .overview .level span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0075ff;
  height: 100%;
  border-radius: 6px;
}

.overview .info_box .box {
  display: flex;
  flex-wrap: wrap !important;
  border-bottom: 1px solid #EEE;
  transition: 0.3s all;
  width: 100% !important;
}
.overview .info_box .box h4 {
  text-align: center;
}
.overview .info_box .box label {
  display: flex;
  align-items: center;
}
.overview .info_box .box:hover {
  background-color: #f9f9f9;
}
.overview .info_box .box .content__box {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .overview .info_box .box .content__box {
    flex-direction: column;
    text-align: center;
    gap: 15px;
  }
}

/* Start Training Code */
.profile-page .info_box .toggle-switch {
  height: 20px;
}
.profile-page .info_box .toggle-switch .fa-xmark {
  top: 3px;
  left: 7px;
}

.profile-page .info_box .toggle-switch > i {
  width: 14px;
  height: 14px;
}

.profile-page .toggle-checkbox:checked + .toggle-switch .fa-xmark {
  top: 3px;
  left: 57px !important;
  transition: all 0.3s;
  color: transparent !important;
  background-color: transparent !important;
}
.profile-page .toggle-checkbox:checked + .toggle-switch .fa-check {
  left: 57px !important;
  top: 2.5px !important;
  transition: all 0.3s;
  color: #0075ff !important;
  display: flex !important;
}

@media (max-width: 767px) {
  .profile-page .info_box .toggle-switch {
    margin: auto;
  }
}
.profile-page .other__date {
  display: flex;
  flex-direction: row;
}
.profile-page .other__date .skills-card {
  width: 45%;
}
.profile-page .other__date .skills-card ul {
  list-style: none;
  padding: 0px !important;
}
.profile-page .other__date .skills-card ul li {
  padding: 20px 0;
}
.profile-page .other__date .skills-card ul li > span {
  background-color: #eee;
  padding: 3px 10px;
  border-radius: 6px;
  margin-right: 15px;
  font-weight: normal;
  box-shadow: 0 0 10px #ddd;
  border: 1px solid #ddd;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.profile-page .other__date .skills-card ul li:not(:last-child) {
  border-bottom: 1px solid #f1f1ff;
}
.profile-page .other__date .activites .box {
  display: flex;
  flex-direction: column;
}
.profile-page .other__date .activites .box .box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.profile-page .other__date .activites .box .box1:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.profile-page .other__date .activites .box .box__active {
  display: flex;
  gap: 10px;
}
.profile-page .other__date .activites .box .box__active .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.profile-page .other__date .activites .box .box__active img {
  width: 64px;
  height: 64px;
}
.profile-page .other__date .activites .box .box__time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  direction: rtl;
}

@media (max-width: 767px) {
  .profile-page .other__date {
    display: flex;
    flex-direction: column !important;
    width: 200%;
  }
  .activites {
    width: 45% !important;
  }
  .activites .box .box1 {
    flex-direction: column;
    text-align: center;
  }
  .activites .box .box1 .box__active {
    flex-direction: column;
  }
  .activites .box .box1 .box__active img {
    margin: auto;
  }
  .activites .box .box1 .box__time {
    flex-direction: column;
  }
}
.project__page {
  margin-top: 40px !important;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}
@media (max-width: 767px) {
  .project__page {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
}
.project__page .project .team {
  position: relative;
  min-height: 80px;
}
.project__page .project .team a {
  position: absolute;
  left: 0;
  bottom: 0;
}
.project__page .project .team a:hover {
  z-index: 1000;
}
.project__page .project .team a:nth-child(1) {
  left: 0px;
}
.project__page .project .team a:nth-child(2) {
  left: 25px;
}
.project__page .project .team a:nth-child(3) {
  left: 50px;
}
.project__page .project .team a:nth-child(4) {
  left: 75px;
}
.project__page .project .team a:nth-child(5) {
  left: 100px;
}
.project__page .project .team a:nth-child(6) {
  left: 125px;
}
.project__page .project .team img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.project__page .project .skills {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 20px 0;
  justify-content: end;
}
@media (max-width: 767px) {
  .project__page .project .skills {
    flex-direction: column;
  }
}
.project__page .project .skills div {
  padding: 3px 8px;
  font-weight: 200;
  font-size: small;
  border-radius: 5px;
  margin: 10px 15px 10px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.5s;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.project__page .project .skills div:hover {
  box-shadow: 0 0 1px black;
}
@media (max-width: 767px) {
  .project__page .project .info {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .project__page .project .info .prog {
    width: 200px !important;
  }
}
.project__page .project .info .prog {
  height: 8px;
  width: 260px;
  position: relative;
  border-radius: 6px;
}
.project__page .project .info .prog span {
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 6px;
}
.project__page .project .header {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}
.project__page .project .header h3 {
  font-weight: 400 !important;
}

/**
    courses__page
*/
.courses__page {
  grid-template-columns: repeat(auto-fit, minmax(300px, 14.6rem));
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 767px) {
  .courses__page {
    grid-template-columns: minmax(200px, 1fr);
  }
}
.courses__page .course .cover {
  border-radius: 7px 7px 0 0;
  width: 100%;
}
.courses__page .course .instructor {
  border-radius: 50%;
  border: 2px solid white;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.courses__page .course .info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0px !important;
}
.courses__page .course .info span {
  font-size: 13px;
}
.courses__page .course .content {
  padding: 0 20px;
  padding-bottom: 20px;
}
.courses__page .course .header {
  padding: 20px 20px 0 20px;
  padding-bottom: 0px;
}
.courses__page .course .header .description {
  line-height: 1.6;
}

.Friends__page {
  grid-template-columns: repeat(auto-fit, minmax(300px, 14.6rem));
}
.Friends__page img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.Friends__page .friends .footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 0 0;
}
.Friends__page .friends .footer .date {
  font-size: 14px;
  color: #666;
}
.Friends__page .friends .footer .__btn .Profile {
  background-color: #0d69d5;
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
}
.Friends__page .friends .footer .__btn .Remove {
  background-color: #f44336;
  color: white;
  padding: 4px 10px;
  border-radius: 6px;
  border: none;
}
.Friends__page .friends .content > i {
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  color: #666;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}
.Friends__page .friends .content > i:hover {
  background-color: #0075ff;
  color: white;
}
.Friends__page .friends .icons {
  border-bottom: 1px solid #ddd;
  position: relative;
}
.Friends__page .friends .icons .vip {
  position: absolute;
  top: 20%;
  right: 0;
  font-size: 50px;
  opacity: 0.5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.Friends__page .friends .icons .icon {
  padding: 2px 0;
}
.Friends__page .friends .icons .icon i {
  color: #666;
  padding-right: 5px;
  font-size: 14px;
}
.Friends__page .friends .icons .icon span {
  font-size: 16px;
}
.Friends__page .friends .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd;
}
.Friends__page .friends .header h3 {
  padding-top: 10px;
  font-size: 16px;
}
.Friends__page .friends .header span {
  font-size: 14px;
  padding: 10px;
}

.files__page .files__stats {
  min-width: 260px !important;
}
.files__page .files__stats .icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.files__page .files__stats .size {
  margin-left: auto;
}
.files__page .files__stats .orange {
  background-color: rgba(245, 158, 11, 0.3);
}
.files__page .files__stats .red {
  background-color: rgba(244, 67, 54, 0.3);
}
.files__page .files__stats .blue {
  background-color: rgba(0, 117, 255, 0.3);
}
.files__page .files__stats .green {
  background-color: rgba(34, 197, 94, 0.3);
}
.files__page .files__stats .upload {
  margin: 15px auto 0;
  padding: 10px 15px;
  transition: 0.3s;
  cursor: pointer;
  color: white;
  font-size: 14px;
  box-shadow: 0 0 10px #ddd;
}
.files__page .files__stats .upload:hover {
  background-color: #0d69d5;
  box-shadow: none;
}
.files__page .files__stats .upload:hover i {
  -webkit-animation: go-up 0.8s infinite;
          animation: go-up 0.8s infinite;
}

@-webkit-keyframes go-up {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes go-up {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
.files__page {
  flex-direction: row-reverse !important;
  align-items: flex-start;
}
.files__page .files__content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-items: flex-start;
}
.files__page .files__content .file .icon {
  text-align: center;
}
.files__page .files__content .file .info {
  border-top: 1px solid #ddd;
}
.files__page .files__content .file img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
}
.files__page .files__content .file:hover img {
  transform: rotate(5deg);
}/*# sourceMappingURL=master.css.map */